//Bordo immagine e gradiente sfondo
.dp-bkgrnd-portrait {
   img {
      border-radius: 50%;
      filter: grayscale(100%);
      background: linear-gradient(150deg, rgba(0, 0, 0, 0) 10%, rgb(18, 18, 18));
   }
}

//bordo su testo about, a scomparsa a su md.
.dp-border-md-only {
   border: none;
 
   @media (min-width: 768px) {
     border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
   }
 }
 