//Bordo immagine e gradiente sfondo
.dp-bkgrnd-portrait {
   // background: #121212;
   // background: linear-gradient(rgba(255,0,0,0), #121212);
   // border-end-end-radius: 50% 50%;
   // border-end-start-radius: 80px 80px;
   img {
      border-radius: 50%;
      filter: grayscale(100%);
      background: linear-gradient(150deg, rgba(0, 0, 0, 0) 10%, rgb(18, 18, 18));
   }
   // position: relative;
   // background-size: cover;
}

//bordo su testo about, a scomparsa a su md.
.dp-border-md-only {
   border: none;
 
   @media (min-width: 768px) {
     border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
   //   border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
   }
 }
 