//Custom Colors
$dp-accent:  rebeccapurple;



@mixin transition-ease {
   transition: all 0.5s ease-in-out;
}
@mixin transition-ease-fast {
   transition: all 0.3s ease-in-out;
}
@mixin transition-ease-faster {
   transition: all 0.15s ease-in-out;
}


// Sfondo animato
.dp-background-a {
   background: rgb(51,17,34);
   background: linear-gradient(111deg, rgba(51,17,34,1) 25%, rgba(16,14,54,1) 50%, rgba(14,34,48,1) 75%);
   background-size: 400% 400%;
   animation: gradient-background 60s ease infinite;
   min-height: 100vh;
}
  
@keyframes gradient-background {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}