// Sfondo home
.dp-home__background {
   background: rgb(51,17,34);
   background: linear-gradient(111deg, rgba(51,17,34,1) 25%, rgba(16,14,54,1) 50%, rgba(14,34,48,1) 75%);
   background-size: 400% 400%;
   animation: gradient-background 60s ease infinite;
   height: 100vh;
}
  
@keyframes gradient-background {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

//Emoji Wave animation
.wave {
   animation-name: wave-animation;
   animation-duration: 1.5s;
   animation-delay: 2s;
   animation-iteration-count: 1;
   transform-origin: 75% 75%;
   display: inline-block;
}
 
@keyframes wave-animation {
   0% {
      transform: rotate( 0.0deg)
   }
   20% {
      transform: rotate(-9.0deg)
   }
   40% {
      transform: rotate(12.0deg)
   }
   60% {
      transform: rotate(-8.0deg)
   }
   100% {
      transform: rotate(00.0deg)
   }
}


//Chaos Dump


   //   Release candidate?
   //    background: rgb(82,34,113);
   // background: rgb(82,34,113);
   // background: linear-gradient(122deg, rgba(82,34,113,1) 0%, rgba(167,34,99,1) 25%, rgba(110,13,13,1) 50%, rgba(21,57,138,1) 75%, rgba(108,75,27,1) 100%);
   
   // background: rgb(2,0,36);
   // background: linear-gradient(238deg, rgba(2,0,36,1) 0%, rgba(98,33,65,1) 25%, rgba(72,77,119,1) 49%, rgba(31,75,106,1) 75%, rgba(2,0,36,1) 100%);
   
   // background: rgb(2,0,36);
   // background: linear-gradient(111deg, rgba(2,0,36,1) 16%, rgba(98,33,65,1) 37%, rgba(72,77,119,1) 50%, rgba(31,75,106,1) 62%, rgba(2,0,36,1) 83%);
   
   // background: rgb(2,0,36);
   // background: linear-gradient(123deg, rgba(2,0,36,1) 21%, rgba(51,17,34,1) 35%, rgba(16,14,54,1) 50%, rgba(14,34,48,1) 66%, rgba(2,0,36,1) 80%);
   
   // background: rgb(2,0,36);
   // background: linear-gradient(111deg, rgba(2,0,36,1) 14%, rgba(66,22,44,1) 31%, rgba(2,0,36,1) 50%, rgba(20,48,68,1) 68%, rgba(2,0,36,1) 92%);

   // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   
   //    // background-image:   
   //    // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),   
   //    // url('https://picsum.photos/id/274/1500?grayscale&blur=1');
      
   //    background-size: cover;        /* Copre l'intero div */
   //    background-position: center;   /* Centra l'immagine */
   //    background-repeat: no-repeat;  /* Non ripete l'immagine */
   //    height: 100vh;                 /* Imposta l'altezza per visualizzare l'immagine */
   //    background-attachment: fixed;
      /* color: black;  Rompe cose SISTEMARE */