// Customizzazione Hamburger
.navbar-toggler {
   border-color: transparent;
      &:focus {   
         box-shadow: none;
      }
}

//Customizzazione Bottone chiusura offcanvas
.dp-btn-close {
   border-color: transparent;
   width: 3em;
   &:focus {
      box-shadow: none;
   }
}

//Logo navbar su offcanvas
.dp-navbar-brand {
   z-index: 1046
}

//Opzioni Custom Offcanvas
.dp-offcanvas {
   --bs-offcanvas-width: 100vw;
   height: 280px;
}

// Background Menu dopo Scroll
.dp-scrolled {
   @include transition-ease-faster;
   backdrop-filter: blur(10px);
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

//Margine per menu fixed
.navbar-spacer {
   margin-top: 74px;
 }