@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css);
@import 'config';
@import "logo";
@import 'menu';
@import 'home';
@import 'fonts';
@import 'about';
@import 'contact';
@import 'lightbox';

// Customizzazione Bottoni
.dp-btn {
   border-radius: 0;
}

//Classe no wrap per impedire di andare a capo
.no-wrap {
   white-space: nowrap;
 }
   

//Footer
footer {
   .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
 
      @media (min-width: 380px) {
         flex-direction: row;
         justify-content: space-between;
         text-align: left;
      }
   }
   //Icone social 
   .dp-social-icons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 1.5rem;
      a {
         color: var(--bs-secondary-color);
         @include transition-ease-fast;
         
         &:hover {
            color: $dp-accent;
         }
      }
   }
   //Copyright
   .copyright {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
 
      @media (min-width: 380px) {
         margin-top: 0;
      }
   }
}
 
 


// Transition Inclusion
.dp-t-ease-f {
   @include transition-ease-fast; 
}

// Unordered list customization
.ul-dp {
   list-style: none; /* no marker */
   padding: 0;
   margin: 0;

   // Personalizzazione degli elementi della lista
   > .dp-list-item {
      position: relative;
      padding-left: 1.5rem;
      --bs-bg-opacity: 1;
      background-color: transparent !important;
      border: none;

      &:before {
         content: "✱";
         position: absolute;
         left: 0; 
         top: 0.3rem;
         font-size: 1rem;
         color: currentColor;
      }
   }
}


//Background opaque color
.dp-bg-jt{
   background-color: rgba(43, 48, 53, 0.2);
}

//Bottone "back to the top"
.dp-back-to-top {
   bottom: 3rem;
   right: 3rem;
   color: rgba(222, 226, 230, 0.75);
   text-decoration: none;
   display: flex;
   align-items: center;
   overflow: hidden;
   @include transition-ease-fast;

   i {
      color: rgba(222, 226, 230, 0.75);
      transition: color 0.3s ease-in-out;
   }

   span {
      opacity: 0;
      visibility: hidden;
      margin-right: 10px;
      color: white;
      @include transition-ease-fast;
      white-space: nowrap;
      transform: translateY(10px);
   }

   &:hover {
      i {
         color: white;
      }

      span {
         opacity: 1;
         visibility: visible;
         transform: translateY(0);
      }
   }

   // When using Touch: sempre visibili
   @media (hover: none) {
      i {
         color: white;
      }

      span {
         opacity: 1;
         visibility: visible;
         transform: translateY(0);
      }
   }
}