@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css);
@import 'config';
@import "logo";
@import 'menu';
@import 'home';
@import 'about';
@import 'contact';
@import 'portfolio';


// Global Font
*{
   font-family: 'Jost', sans-serif;
   font-feature-settings: "tnum" 1, "ss01" 1;   
}

// Serif font Class (Besley)
.dp-font-s {
   font-family: 'Besley'
}

//Serif font Bodoni
.dp-font-sbod {
   font-family: 'Bodoni 16';
}


// Customizzazione Bottoni
.dp-btn {
   border-radius: 0;
   // color: var(--bs-nav-link-color);
   // --bs-btn-border-color: var(--bs-nav-link-color);
}
//Classe no wrap per impedire di andare a capo
.no-wrap {
   white-space: nowrap; /* Impedisce al testo nel span di andare a capo */
 }
   
// Icone social 
.dp-social-icons {
   font-size: 1.5rem;
   a {
      //text-decoration: none;
      color: var(--bs-secondary-color);
      @include transition-ease-fast; 
      
      &:hover {
      	color: $dp-accent;
      }
	}
}  

//
.dp-t-ease-f {
   @include transition-ease-fast; 
}

// Unordered list customization
.ul-dp {
   list-style: none; /* Disabilita il marker predefinito */
   padding: 0;
   margin: 0;
}
// Unordered list item customization
.ul-dp > .dp-list-item {
   position: relative; /* Necessario per posizionare il marker */
   padding-left: 1.5rem; /* Aggiungi spazio per il simbolo */
   --bs-bg-opacity: 1;
   background-color: transparent !important;
   border: none;
      &:before {
      content: "✱"; /* Il simbolo della lista */
      position: absolute;
      left: 0; /* Posiziona il simbolo a sinistra */
      top: 0.3rem; /* Allinea verticalmente con il testo */
      font-size: 1rem; /* Personalizza la dimensione del simbolo */
      color: currentColor; /* Usa il colore del testo */
      }
}





//Chaos Dump
//-----------------------------------------------------------------


// .dp-list-item {
//    margin-bottom: 3rem;        
//    --bs-bg-opacity: 1;
//    background-color: transparent !important;
// }

// .ul-dp {
//    list-style-type: "✱ "; 
//    list-style-position: outside;
// }


// body {
// 	background: $primary-color;
// 	color: set-text-color($primary-color);
	// height: 100vh;
// 	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// 	line-height: 1;
// }

// h1, h2, h3 {
// 	font-weight: 400;
// }

// a{
// 	color: set-text-color($primary-color);
// 	text-decoration: none;
// }

// .text-secondary {
// color: $secondary-color;
// }

// header {
// 	position: fixed;
// 	z-index: 2;
// 	width: 100%;
// 	padding: 1rem;
// }

// main {
// 	height: 100%;
// 	width: 100%;

// 	
// }

// -----------------------------------------